@font-face {
    font-family: "Star";
    src: url(./fonte_externa/Starburst.ttf)
}
body {
    background: no-repeat;
    background-image: url(../css/imagens/lua.jpg);
    background-size: 100% 100%;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em;
}
#logo {
    margin-top: 0.5em;
    margin-right: 1.5em;
    border: 1px solid white;
    width: 5em;
    height: 5em;
}
header > h1 {
    font-weight: bold;
    color: yellow;
    font-family: 'Star';
    font-size: 1.9em;
    padding: 1em 0.5em 0.7em 0.5em;
    border: 3px solid white;
    border-radius: 1em;
}
audio {
    width: 8em;
    height: 1em;
    margin-left: 0.5em;
}
#container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 2em;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid yellow;    
}
.pesquisa {
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.pesquisa >  input, button {
    margin: 1em;
    padding: 0.5em;
    border: 2px groove white;
    border-style: dotted;
    border-radius: 1em;
    background-image: url(../css/imagens/interestelar2.png);
    color: white;
}
.pesquisa > legend {
    margin: 1em;
    padding: 0.5em;
    color: white;
    border: 1px dotted rosybrown;
}
.pesquisa > input:hover, button:hover {
    cursor: pointer;
}
.pesquisa > input:active, button:active {
    border: 1px solid purple;
}
#titulo > h1 {
    text-align: center;
    margin: 1em 1em 1em 1em;
    padding: 0.5em 0 0.5em 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    color:saddlebrown;
    text-shadow: 1px 1px white;
    border: 2px solid black;
    background-image: url(./imagens/bg_title.gif);
}
#principal {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    margin-left: 1em;
   
}
#principal > img {
    height: auto;
    width: 50%;
    box-shadow: -5px -5px 5px white, 5px 5px 5px white;

}
#principal > iframe {
    height: auto;
    width: 50%;
    box-shadow: -5px -5px 2.5px white, 5px 5px 2.5px white;
}
#principal > p {
    margin: 0 2.5em 0 2.5em;
    padding: 1em;
    width: 50%;
    height: fit-content;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: yellow;
    text-shadow: 2px 2px black;
    border: 2px groove white;
    box-shadow: -5px -5px 2.5px black, 10px 5px 2.5px black;
    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 1.5em;
    background: no-repeat;
    background-color: rgb(32, 29, 29);
    background-size: 100% 100%;
    opacity: 0.7;
}
#copyright {
    text-align:center;
    margin: 1em 5em 1em 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: yellow;
    text-shadow: 1px 1px black;
}
footer > p {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    margin: 1em 0 0.5em 0;
    padding: 0;
}
@media 
    (max-width: 480px) {
        body {
            background-size: cover;
            width: 100vw;
        }
        header {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        header > h1 {
            margin: 1em;
            padding: 0.5em;
        }
        #logo {
            margin: auto;
        }
       #principal {
           display: flex;
           flex-direction: column;
           justify-content: flex-start;
           align-items: center;
           height: fit-content;
       }
       #principal > img {
           width: 80%;
           height: auto;
           margin: 2em;
       }
       #principal > p {
           width: 80%;
           height: auto;
       }

}